<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C_%EC%98%88%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# mtcars 데이터셋의 qsec 칼럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import minmax_scale

In [2]:
!mkdir -p ~/.kaggle
!cp /content/drive/MyDrive/Data_Analysis/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!kaggle datasets download -d ruiromanini/mtcars

mtcars.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
!unzip /content/mtcars.zip

Archive:  /content/mtcars.zip
replace mtcars.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: mtcars.csv

In [16]:
data = pd.read_csv('/content/mtcars.csv')

In [17]:
data

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

-------------

# qsec을 Min-Max Scale로 변환

In [21]:
# 원하는 위치에 새로운 컬럼을 생성하려는 경우
data.insert(8, 'qsec_minmax', minmax_scale(data['qsec']))

In [23]:
# 순서를 지정하지 않고 마지막 자리에 새로 컬럼을 생성하는 경우
# data['qsec_minmax'] = minmax_scale(data['qsec'])

In [24]:
data

,model,mpg,cyl,disp,hp,drat,wt,qsec,qsec_minmax,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0.233333,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0.300000,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,0.489286,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,0.588095,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0.300000,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,0.680952,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0.159524,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,0.654762,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1.000000,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,0.452381,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,0.523810,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0.345238,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0.369048,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0.416667,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0.414286,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0.395238,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0.347619,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,0.591667,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,0.478571,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,0.642857,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,0.655952,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0.282143,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0.333333,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0.108333,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0.303571,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,0.523810,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0.261905,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,0.285714,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0.000000,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0.119048,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0.011905,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,0.488095,1,1,4,2

------------------

# 0.5보다 큰 qsex_minmax의 개수 구하기

In [25]:
print(sum(data['qsec_minmax'] > 0.5))

9