<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/groupby_sort_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# city와 f4를 기준으로 f5의 평균값을 구한 다음, f5를 기준으로 상위 7개 값을 모두 더해 출력하시오 (소수점 둘째자리까지 출력)

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 117kB/s]

In [2]:
!kaggle datasets download -d agileteam/bigdatacertificationkr

Downloading bigdatacertificationkr.zip to /content
  0% 0.00/15.5k [00:00<?, ?B/s]
100% 15.5k/15.5k [00:00<00:00, 14.3MB/s]

In [3]:
!unzip /content/bigdatacertificationkr.zip

Archive:  /content/bigdatacertificationkr.zip
  inflating: basic1.csv
  inflating: basic1_json.json
  inflating: basic1_xml.xml
  inflating: basic2.csv
  inflating: basic3.csv

In [4]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('/content/basic1.csv')

In [21]:
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

----------

# city와 f4 대해 groupby실행하여 f5의 평균값 도출

In [22]:
df_groupby = df.groupby(['city', 'f4'])[['f5']].mean()

In [23]:
df_groupby

                  f5
city f4
경기   ENTJ  51.693799
     ENTP  54.704075
     ESFJ  97.381034
     ESFP  53.187491
     ESTJ  79.487043
     ESTP  34.022130
     INFJ  80.138280
     INFP  90.531801
     INTJ  80.388795
     INTP  55.887974
     ISFJ  64.468233
     ISFP  69.108148
     ISTP  48.431184
대구   ENFJ  39.964658
     ENFP  32.574085
     ENTP  13.049921
     ESFJ  20.129444
     ESTJ  77.323257
     ESTP  28.915814
     INTP  26.698797
     ISFJ  59.883434
     ISTJ  83.685380
     ISTP  29.269869
부산   ENFJ  17.252986
     ENFP  68.176229
     ENTP  74.012327
     ESFJ  73.586397
     ESTJ  25.280992
     ESTP  62.730150
     INFJ  53.447698
     INFP  48.431184
     INTP  13.049921
     ISFJ  13.049921
     ISFP  29.269869
     ISTP  69.730313
서울   ENFJ  75.818808
     ENFP  98.429899
     ENTJ  67.886373
     ENTP   9.796378
     ESFJ  50.469183
     ESFP  16.283854
     ESTP  91.297791
     INFJ  83.685380
     INFP  52.667078
     INTJ  91.297791
     INTP  20.129444
     ISFJ  39.734842
     ISFP  91.057640
     ISTJ  17.252986
     ISTP  67.886373

--------

# f5 값에 대하여 내림차순으로 정렬

In [24]:
df_groupby = df_groupby.sort_values(by='f5', ascending=False)

In [25]:
df_groupby

                  f5
city f4
서울   ENFP  98.429899
경기   ESFJ  97.381034
서울   INTJ  91.297791
     ESTP  91.297791
     ISFP  91.057640
경기   INFP  90.531801
서울   INFJ  83.685380
대구   ISTJ  83.685380
경기   INTJ  80.388795
     INFJ  80.138280
     ESTJ  79.487043
대구   ESTJ  77.323257
서울   ENFJ  75.818808
부산   ENTP  74.012327
     ESFJ  73.586397
     ISTP  69.730313
경기   ISFP  69.108148
부산   ENFP  68.176229
서울   ENTJ  67.886373
     ISTP  67.886373
경기   ISFJ  64.468233
부산   ESTP  62.730150
대구   ISFJ  59.883434
경기   INTP  55.887974
     ENTP  54.704075
부산   INFJ  53.447698
경기   ESFP  53.187491
서울   INFP  52.667078
경기   ENTJ  51.693799
서울   ESFJ  50.469183
부산   INFP  48.431184
경기   ISTP  48.431184
대구   ENFJ  39.964658
서울   ISFJ  39.734842
경기   ESTP  34.022130
대구   ENFP  32.574085
부산   ISFP  29.269869
대구   ISTP  29.269869
     ESTP  28.915814
     INTP  26.698797
부산   ESTJ  25.280992
대구   ESFJ  20.129444
서울   INTP  20.129444
부산   ENFJ  17.252986
서울   ISTJ  17.252986
     ESFP  16.283854
대구   ENTP  13.049921
부산   ISFJ  13.049921
     INTP  13.049921
서울   ENTP   9.796378

-------

# f5 평균 상위 7개 값을 합하여 소수점 두자리 수로 반올림

In [26]:
print(round(df_groupby['f5'][0:7].sum(), 2))

643.68