<a href="https://colab.research.google.com/github/donghyundavidchoi/Data_Analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%95%EC%A0%9C/%EA%B7%B8%EB%A3%B9%ED%99%94_groupby_%EC%A0%95%EB%A0%AC_sort_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구하시오.

In [1]:
!gdown --fuzzy https://drive.google.com/file/d/1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-/view?usp=sharing
!mkdir -p ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Downloading...
From: https://drive.google.com/uc?id=1txRVXp-Eh222PzIeTQ-fuAoUYFR9f7q-
To: /content/kaggle.json
100% 73.0/73.0 [00:00<00:00, 93.7kB/s]

In [3]:
!kaggle datasets download -d sinakaraji/covid-vaccination-vs-death

Downloading covid-vaccination-vs-death.zip to /content
  0% 0.00/779k [00:00<?, ?B/s]
100% 779k/779k [00:00<00:00, 111MB/s]

In [4]:
!unzip /content/covid-vaccination-vs-death.zip

Archive:  /content/covid-vaccination-vs-death.zip
  inflating: covid-vaccination-vs-death_ratio.csv

In [5]:
import pandas as pd
import numpy as np

In [31]:
data = pd.read_csv('/content/covid-vaccination-vs-death_ratio.csv')

In [32]:
data

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40295077.0,1.113977
1,1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40295077.0,1.167242
2,2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40295077.0,1.182197
3,3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40295077.0,1.189654
4,4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40295077.0,1.190155
...,...,...,...,...,...,...,...,...,...,...
26618,26618,Zimbabwe,ZWE,2021-12-22,7167610.0,4078945.0,3088665.0,14,15209563.0,26.818292
26619,26619,Zimbabwe,ZWE,2021-12-23,7188128.0,4089315.0,3098813.0,9,15209563.0,26.886473
26620,26620,Zimbabwe,ZWE,2021-12-24,7200776.0,4095685.0,3105091.0,27,15209563.0,26.928354
26621,26621,Zimbabwe,ZWE,2021-12-25,7209049.0,4100069.0,3108980.0,16,15209563.0,26.957178
26622,26622,Zimbabwe,ZWE,2021-12-26,7214640.0,4103288.0,3111352.0,14,15209563.0,26.978343

In [33]:
data.isnull().sum()

Unnamed: 0                 0
country                    0
iso_code                   0
date                       0
total_vaccinations         0
people_vaccinated          0
people_fully_vaccinated    0
New_deaths                 0
population                 0
ratio                      0
dtype: int64

--------

# groupby를 활용하여 국가별 데이터 구하기
# 해당 데이터는 날짜별 누적 데이터를 모두 포함하는 데이터이므로 .max()를 통해 마지막 기록만 산출

In [34]:
data = data.groupby('country').max()

In [35]:
data

,Unnamed: 0,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
country,,,,,,,,,
Afghanistan,19,AFG,2021-11-27,5228706.0,4397449.0,3566192.0,86,40295077.0,10.913117
Albania,181,ALB,2021-12-23,2286235.0,1131547.0,1018549.0,18,2870177.0,39.424293
Algeria,196,DZA,2021-12-14,12437324.0,7019879.0,5554702.0,34,44996174.0,15.601058
Andorra,220,AND,2021-12-12,115709.0,56628.0,50551.0,2,77355.0,73.205352
Angola,258,AGO,2021-12-23,11164918.0,7423668.0,3741250.0,18,34472807.0,21.534852
...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,26282,WLF,2021-11-30,11939.0,6016.0,5923.0,0,11094.0,54.227510
Yemen,26293,YEM,2021-12-02,786027.0,556652.0,366587.0,10,30824630.0,1.805868
Zambia,26363,ZMB,2021-11-11,985443.0,806611.0,626900.0,72,19191260.0,4.203012
Zimbabwe,26622,ZWE,2021-12-26,7214640.0,4103288.0,3111352.0,170,15209563.0,26.978343
"occupied Palestinian territory, including east Jerusalem",18489,PSE,2021-12-20,3315774.0,2053044.0,1478705.0,34,5283006.0,38.861285

----------

# sort_values를 활용하여 ratio를 내림차순으로 정렬

In [36]:
data = data.sort_values(by='ratio', ascending=False)

In [37]:
data

,Unnamed: 0,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
country,,,,,,,,,
Gibraltar,9209,GIB,2021-12-22,108149.0,41162.0,40046.0,3,33698.0,122.149682
Malta,15892,MLT,2021-12-25,1031293.0,440447.0,435182.0,7,443519.0,99.307358
United Arab Emirates,25051,ARE,2021-12-24,22406584.0,9890348.0,9059559.0,15,10042529.0,98.484635
Cuba,6016,CUB,2021-12-24,29769267.0,10393893.0,9597707.0,98,11313280.0,91.873382
Brunei Darussalam,3879,BRN,2021-12-14,790506.0,405092.0,385414.0,5,443553.0,91.328883
...,...,...,...,...,...,...,...,...,...
South Sudan,22635,SSD,2021-12-15,268640.0,227262.0,181577.0,2,11476909.0,1.980167
Yemen,26293,YEM,2021-12-02,786027.0,556652.0,366587.0,10,30824630.0,1.805868
Chad,4970,TCD,2021-12-15,366585.0,285922.0,80663.0,0,17161160.0,1.666099
Haiti,10226,HTI,2021-12-17,194341.0,122580.0,72102.0,14,11611680.0,1.055661
Burundi,4092,BDI,2021-12-23,7543.0,4010.0,3533.0,0,12438043.0,0.032240

지브롤터 데이터가 문제가 있어 보이나 별도 확인 결과 지브롤터의 다른 데이터들도 비슷한 수치로 기록이 되어 있는 것을 보아 제대로 입력된 값으로 판단.

-----------

# slicing을 통해 정렬된 데이터의 상위 10개와 하위 10개를 추출하고 평균을 구하기   
# head와 tail을 활용할 수도 있음

In [41]:
upper_10_mean = data['ratio'][:10].mean()
print(upper_10_mean)
lower_10_mean = data['ratio'][-10:].mean()
print(lower_10_mean)

94.13117014060033
1.9129097691393397

In [39]:
upper_10_mean = data['ratio'].head(10).mean()
print(upper_10_mean)
lower_10_mean = data['ratio'].tail(10).mean()
print(lower_10_mean)

94.13117014060033
1.9129097691393397

-------

# ratio 상위 10개 값 평균과 하위 10개 값 평균의 차이 구하기

In [42]:
print(abs(upper_10_mean - lower_10_mean))

92.21826037146099